* {
    box-sizing: border-box;
}

body {
	font-size: 100%;
	color: #326273;
    background: #EEEEEE;
	font-family: 'Roboto Slab', serif;
}

h2, h3 {
	text-align: center;
}

.google-button {
	background: #FE936F;
	font-family: sans-serif;
    padding:0.3rem 0.6rem;
    border:0;
    border-radius:0.2rem;
    color:#fff;
    font-size:0.8rem;
    transition: 0.3s background-color;
	margin: 10px;
}

.seven-habits {
	/*background: #5A9EAD;*/
    padding: 5px;
    margin-left: 10px;
	margin-right: 10px;
	text-align: left;
	display: inline-block;
	width: 250px;
}


.seven-goals {
	background: #EEEEEE;
    padding: 5px;
    margin-left: 10px;
	margin-right: 10px;
	text-align: left;
	display: inline-block;
	width: 250px;
}


.table {
	background: #5C9EAD;
}

/*.events_day*/

#today_list {
	list-style-type: none;
	text-align: left;
	/*color: #EEEEEE;*/
}

#today_list li {
	line-height: 120%;
	margin: 10px;
}

#allDay_list {
	list-style-type: none;
	color: #EEEEEE;
}

.form {
    margin:2rem auto;
    font-family:sans-serif;
    max-width:20rem;
	background: #326273;
	color: #FE936F;
}
.form .form-row {
    margin-bottom:1rem;
}
.form .form-row:last-child {
    margin-bottom: 0;
}
.form input[type=text],
.form input[type=email],
.form textarea,
.form .checkbox-cnt .state {
    box-shadow:inset 0 1px 5px rgba(0,0,0,0.07);
}
.form input[type=text],
.form input[type=email],
.form textarea {
    border-radius:0.2rem;
    font-family:sans-serif;
    padding:0.8rem;
    border:1px solid #aaa;
    display: block;
    width:100%;
    color:#666;
}
.form input[type=text]:focus,
.form input[type=email]:focus,
.form textarea:focus {
    border-color:#9DC9F5;
    box-shadow:inset 0 0 0 1px #9DC9F5, inset 0 1px 5px rgba(0,0,0,0.07);
    outline:none;
}
.form textarea {
    height:10rem;
}
.form label {
    font-weight:bold;
    display: block;
    font-size:0.9rem;
    margin-bottom:0.5rem;
	color: #FFFFFF;
}
.form .submit-btn {
    font-family: sans-serif;
    padding:1rem 2rem;
    background: #FE936F;
    border:0;
    border-radius:0.2rem;
    color:#fff;
    font-size:1.1rem;
    font-weight: bold;
    transition: 0.3s background-color;
}





@media screen and (max-width:500px) {
    .form .submit-btn {
        display: block;
        width: 100%;
    }
}



